.start {
  background-image: url('https://pp.userapi.com/c620522/v620522784/9815/g7DScd7FzT0.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 1000px;
  background-position: center;
  font-family: cursive;
  font-size: 18px;
}
.firstblock{
  /*float: left;*/
  padding-top: 50px;
  padding-left: 40px;
  color: black;
}
.secondblock{
  /*padding-top: 2px;*/
  color: black;
  padding-top: 50px;
  padding-left: 40px;
  item-align: center;
}
fieldset{
  width: 300px;
  height: 120px;
}
td {
  border: 1px solid grey;
  align-items: center;
  text-align: center;
}
A:visited {
  color: black;
}
A:hover{
  color: blue;
}
.index{
  background-image: url('/jpeg/index.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
  min-height: 1000px;
  background-position: center;
  font-family: cursive;
  font-size: 18px;
}
.kitesurfing{
  background-image: url('/jpeg/index2.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
  min-height: 1000px;
  background-position: center;
  font-family: cursive;
  font-size: 18px;
}
.spoiler >  input + .box {
	display: none;
}
.spoiler >  input:checked + .box {
	display: block;
}

.spoiler {
  padding: 30px;
}
.land {
  background-image: url('/jpeg/index3.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
  min-height: 1000px;
  background-position: center;
  font-family: cursive;
  font-size: 18px;
}
ol {
  list-style-type: square;
  margin-left: 55px;
  margin-top: 25px;
}
.yt {
  width: 560px;
  height: 315px;
}
.spoiler h2 {
  float: left;
}
.spoiler input {
  margin-top: 40px;
}

